$red: #ff3434;
$dark-red: red;
$green: #009484;
$dark-green: #007063;
$gray: #9398a3;
$dark-gray: #51596a;
$light: #f4f7fb;

:root {
  --red: #ff3434;
  --dark-red: red;
  --green: #009484;
  --dark-green: #007063;
  --gray: #9398a3;
  --dark-gray: #51596a;
  --light: #f4f7fb;
  --dark-blue: #112651;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.8;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: transparent;
  border: transparent solid 2px;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s, box-shadow 0.5s;
}

.button:focus {
  outline: 0;
}

.button[disabled] {
  border-color: #51596a !important;
  color: #51596a !important;
  background: #a6a5a5 !important;
}

.button [class^="icon-"],
.button [class*=" icon-"] {
  font-size: 24px;
  margin-left: 10px;
}

.button-green {
  background-color: $green;
  color: white;
  border-color: $green;
}

.button-green:hover {
  background-color: $dark-green;
  color: white;
  border-color: $dark-green;
}

.button-green:focus { /* unknown */
  /* box-shadow: 0 0 0 0.15rem var(--dark-green); */
}

.button-red {
  background-color: $red;
  color: white;
  border-color: $red;
}

.button-red:hover {
  background-color: white;
  color: $red;
  border-color: $red;
}

.button-red:focus { /* unknown */
  /* box-shadow: 0 0 0 0.15rem var(--dark-green); */
}

.button-gray {
  background-color: $light;
  color: $dark-gray !important;
  border-color: $light;
}

.button-gray:hover {
  background-color: $gray;
  color: $light !important;
  border-color: $gray;
}

.button-gray:focus { /* unknown */
  /* box-shadow: 0 0 0 0.15rem var(--dark-green); */
}
