@import "fonts";

html {
  font-size: 16px;
}

body,
body * {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.75;
  color: #51596a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  //color: var(--dark-blue);
}

h1, h2, h3 {
  line-height: 1.265;
}

h4, h5, h6 {
  line-height: 1.8;
}

h1 { font-size: 54px; font-weight: 800; }
h2 { font-size: 38px; font-weight: 800; }
h3 { font-size: 32px; font-weight: 800; }
h4 { font-size: 28px; font-weight: bold; }
h5 { font-size: 20px; font-weight: bold; }
h6 { font-size: 18px; font-weight: bold; }

@media (max-width: 576px) {
  .h4-sm {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.8;
  }

  .h3-sm {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.265;
  }
}
