.nav-tabs .nav-item {
  cursor: pointer;
}

.table .btn-success {
  background-color: #198754;
}

.table .btn-danger {
  background-color: #dc3545;
}

.table .btn-primary {
  background-color: #0d6efd;
}
