.header {
  position: relative;

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 2px #51596a;
    z-index: 1;
  }

  &-slider {
    height: 400px;

    img {
      max-height: 400px;
      height: 400px;
      object-fit: cover;
      width: 100%;
    }
  }
}
