.footer-top-part {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--green);
  color: white;
}

.footer-top-part * {
  color: white;
}

.top-trapezoid-wrapper,
.bottom-trapezoid-wrapper {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: -49px;
  left: 0;
  height: 50px;
  perspective: 200px;
  /*transform-style: preserve-3d;*/
}

.top-trapezoid-wrapper {
  width: 178px;
}

.bottom-trapezoid-wrapper {
  width: 144px;
}

.top-trapezoid-wrapper {
  margin-left: 15%;
}

.bottom-trapezoid-wrapper {
  align-self: flex-end;
  margin-left: 20%;
}

.top-trapezoid, .top-trapezoid-content {
  position: absolute;
  width: 178px;
}

.top-trapezoid-content,
.bottom-trapezoid-content {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  perspective: 100px;
}

.top-trapezoid,
.bottom-trapezoid {
  width: 100%;
  height: 100%;
  perspective: 50px;
  transform-origin: bottom;
  transform: rotateX(30deg) scaleY(1.2445);
  border-radius: 8px 8px 0 0;
}

.top-trapezoid {
  background-color: lightseagreen;
}

.bottom-trapezoid {
  background-color: darkgreen;
}

.top-trapezoid-content,
.bottom-trapezoid-content {

}

.top-footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button {
  width: 170px;
  margin-left: 30px;
}

.top-footer-content-text h6 {
  margin-bottom: 10px;
}

@media (max-width: 460px) {
  .footer-button {
    width: max-content;
    margin: 0;
    padding: 10px 20px;
  }

  .top-footer-content-text {
    font-size: 13px;
  }

  .top-footer-content-text h6 {
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media (max-width: 380px) {
  .footer-button {
    padding: 10px 12px;
  }
}

.footer-bottom-part {
  position: relative;
  background-color: var(--dark-blue);
  color: white;
  padding-top: 110px;
  padding-bottom: 25px;
}

.footer-bottom-part * {
  color: white;
}

.bottom-footer-content {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 70px auto;
}

.bottom-footer-content > * {
  max-width: 270px;
}

.footer-company {
  width: 200px;
  height: 200px;
  grid-row: 1 / 3;

  img {
    width: 200px;
    height: 200px;
  }
}

.office-ltd {
  margin-top: 10px;
}

.slogan {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  opacity: 0.6;
}

.footer-nav-word {
  margin-bottom: 26px;
}

.footer-nav {
  font-size: 13px;
  grid-row: 2 / 3;
}

.footer-nav-table {
}

.footer-nav-col {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr;
  row-gap: 20px;
  height: min-content;
}

.footer-contacts {
  font-size: 13px;
  grid-row: 2 / 3;
  justify-self: end;
}

.footer-contacts-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-contacts-icon {
  font-size: 18px;
  margin-right: 10px;
}

.socials {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.socials > * {
  margin-right: 10px;
}

.rights {
  font-family: "Helvetica Neue", "Poppins", sans-serif;
  font-size: 13px;
  padding-top: 80px;
  text-align: center;
  opacity: 0.6;
  color: #8ca9e4;
}

.footer-contacts-word {
  margin-bottom: 26px;
}

@media (max-width: 1600px) {
  .top-trapezoid-wrapper {
    margin-left: 10%;
  }

  .bottom-trapezoid-wrapper {
    margin-left: 15%;
  }
}

@media (max-width: 1280px) {
  .top-trapezoid-wrapper {
    margin-left: 6%;
  }

  .bottom-trapezoid-wrapper {
    margin-left: 11%;
  }
}

@media (max-width: 1120px) {
  .top-trapezoid-wrapper {
    margin-left: 6%;
  }

  .bottom-trapezoid-wrapper {
    margin-left: 9%;
  }
}

@media (max-width: 1024px) {
  .top-trapezoid-wrapper {
    margin-left: 6%;
    width: 138px;
  }

  .bottom-trapezoid-wrapper {
    margin-left: 9%;
    width: 111px;
  }

  .footer-top-part {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .top-footer-content {
    justify-content: flex-end;
  }

  .footer-bottom-part {
    padding-top: 50px;
  }

  .footer-nav-and-contacts-block {
    align-self: flex-start;
  }

  .slogan {
    width: 100%;
  }

  .bottom-footer-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 40px;
    grid-row-gap: 40px;
    column-gap: 95px;
    grid-column-gap: 95px;
  }

  .footer-nav {
    grid-column: 1;
    grid-row: 2;
  }

  .footer-contacts {
    grid-column: 2;
    grid-row: 2;
    justify-self: unset;
  }

  .footer-company {
    max-width: 100%;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .rights {
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  .top-trapezoid-wrapper,
  .bottom-trapezoid-wrapper {
    height: 40px;
    font-size: 12px;
    top: -39px;
  }

  .top-trapezoid-wrapper {
    margin-left: 8%;
    width: 124px;
  }

  .bottom-trapezoid-wrapper {
    margin-left: 18.66%;
    width: 106px;
  }

  .footer-top-part {
    padding-top: 20px;
    padding-bottom: 55px;
  }

  .top-footer-content {
    justify-content: space-between;
  }

  .footer-bottom-part {
    padding-bottom: 70px;
  }

  .bottom-footer-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    grid-row-gap: 30px;
    column-gap: 0;
    grid-column-gap: 0;
  }

  .footer-company {
    padding-bottom: 10px;
    max-width: 100%;
    grid-row: unset;
    grid-column: 1 / 2;
  }

  .footer-nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .footer-contacts {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: unset;
  }

  .rights {
    padding-top: 30px;
  }

  .footer-nav-and-contacts-block {
    flex-direction: column;
  }
}
