.contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: max-content;

  &-item {
    background: var(--light);
    border-radius: 6px;
    padding: 8px 20px;
  }
}
