.gridlist {
  display: grid;

  &-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  &-item {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;

    &-empty {
      width: 100%;
      grid-column: 1/8;
      padding: 20px;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid lightgray;
      text-align: center;
    }
  }

  &-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
    gap: 8px;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  @media (min-width: 768px) {
    &-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    &-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
