.product {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;

  &-favorite {
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    height: 24px;
    width: 24px;

    &::after {
      content: url("../../../icons/star_outline.svg");
    }

    &:hover::after,
    &.favorite::after {
      content: url("../../../icons/star.svg");
    }
  }

  &-image {
    max-width: 100%;
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  &-name {
    margin-top: 16px;
    font-size: 16px;
  }

  &-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 20px;

    button {
      padding: 8px;
    }

    &-currency {
      &::after {
        content: '$';
        font-style: normal;
        font-size: 14px;
      }
    }
  }
}
